*{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg) no-repeat center center/cover;
    width: 100%;
    filter: blur(10px);
    position: absolute;
    z-index: -1;
    left: -30;
    top: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);

}
.loading-text {
    
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 300px;
    
}

